*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    background-color: black;
}

/* CONTAINER */
.container-full{
    width: 100%;
    margin: 0 auto;
}



.container-70{
    margin: 0 auto;
    width: 60%;
    background-color: darkgreen;
}

.container-70-yellow{
    margin: 0 auto;
    width: 60%;
    background-color: rgba(172, 172, 8, 0.523);
}

.container-big-skyblue{
    max-width: 1000px;
    margin: 0 auto;
}

/* MARGIN PADDING */

.margin-left-20{
    margin-left: 20%;
}

.margin-right{
    margin-right: 20%;
}
.margin-top-40{
    margin-top: 40px;
}

.margin-top-30{
    margin-top: 30px;
}

.margin-top-20{
    margin-top: 20px;
}

/* LAYOUT */
.col-30{
    width: 30%;
}
.col-30-box{
    width: calc(100% / 3);
    height: 300px;
    background-color: gold;
}
.col-33{
    width: calc(100% / 3 - 10px);
    background-color: yellowgreen;
    height: 400px;
    margin: 5px;
}

.col-40{
    width: 40%;
}
.col-50{
    width: 50%;
    align-content: center;
}
.col-60{
    width: 60%;
}

.col-70{
    width: 70%;
}

.col-80{
    width: 80%;
    padding: 0 10%;
}
.col-100{
    width: 100%;
}



.col-footer{
    width: calc(100% / 6 - 10px);
    margin: 5px;
    background-color: gold;
    height: 100px;
}




/* UTILITY */
.flex{
    display: flex;
}

.flex-center{
    justify-content: center;
}

.wrap{
    flex-wrap: wrap;
}
.border{
    border: 1px dashed black;
}

.square{
    width: calc(100% / 3);
    height: calc(100vw / 3);
    background-color: rgb(13, 230, 114);
    height: 300px;
}


.box{
    width: 50%;
    height: 50%;
    background-color: rgb(7, 137, 252);
}

.bg-skyblue{
    background-color: skyblue;
}

/* CONTENT */

.logo-small{
    width: 80px;
    margin: 0 20px;
    position: relative;
    top: 2px;
}

.content-main{
    display: flex;
    padding: 15px;
}

.unstyled{
    list-style-type: none;
}

.unstyled li{
    padding: 0 13px;
    font-size: 11px;
}

.right{
    justify-content: right;
}

.button-sub{
    border: none;
    background-color: #0061FF;
    color: white;
    font-size: 12px;
    padding:  2px 5px;
}

h1{
    font-size: 45px;
}

.content p{
    font-size: 15px;
    text-align: left;
}

.intro-button button{
    border: none;
    padding: 10px;
    background-color: #0061FF;
    color: white;
    font-size: 17px;
    margin-top: 10%;
}

.cancel{
    padding-top: 10%;
}

.arrow{
    padding-top: 26%;
    font-size: 50px;
}

.business{
    width: 100%;
}

.jumbo{
    width: 100%;
    position: relative;
    top: 35px;
}